<h1>Welcome to my favorite Restaurants page</h1>

<ul>
	<% @restaurants.each do |restaurant| %>
		<li>
			<a href="restaurants/<%= restaurant.id %>"><%= restaurant.name %></a>				
		</li>
	<% end %>
</ul>


<form action="/restaurants" method="post">
	<label for="Name">Name</label>
	<input type="text" id="name" name="name">
	<label for="City">City</label>
	<input type="text" id="city" name="city">
	<input type="submit">
</form>
